#title{
  background-color: #ff4c68;
  color: #fff;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}


#testimonial-carousel{

  padding:7% 15%;


}



.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}



#pricing{
  padding:100px;
  text-align: center;
}


.pricing-column{
  padding: 3% 2%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin : 20px 20px 50px;
}




body{
  font-family: "Ubuntu";
}


h1{
  font-family: "Montserrat", "sans-serif";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat";
  font-size:3rem;
  line-height: 1.5;

}

h3{
  font-weight: bold;
}

p{
  color:#8f8f8f;
}


.container-fluid{
  padding: 3% 15% 7%;
}

.download-button{
  margin: 5% 3% 5% 0;
}

/* Navbar -brand */

.navbar{
  padding:0 0 4.5rem;

}

.navbar-item{
  padding : 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight: bold;
}

/* Title-Image */
.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;
}

.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4668;
}

.feature-box{
  text-align: center;
  padding: 5%;
}


@media (max-width:1028px){
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}


#cta{
  text-align: center;
  background-color: #ff4c68;
  padding:7% 15%;
  line-height: 1.5;
}

.foot-text{
  font-family: "Montserrat";
  font-size: 3.5rem;
  color:#fff;
}

#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
}

.foot-icon{
  margin: 20px 10px;
}
